@if (_canEdit && isEditing) {
    <div class="view-container">
        <quill-editor class="w-100" [(ngModel)]="content">
        </quill-editor>
        <button 
            matButton="outlined"
            class="back-button"
            (click)="isEditing = !isEditing">
            <i class="bi bi-backspace back-icon"></i>            
        </button>
        <button 
            matButton="outlined" 
            class="save-button"
            type="button" 
            (click)="onSaveClick()"
        >   Save
        </button>
    </div>
}
@else {
    @if (content) {
        <div class="view-contianer">
            <quill-view [content]="content"></quill-view>
            <button 
                matButton="outlined" 
                class="edit-button"
                (click)="isEditing = !isEditing">
                <i class="bi bi-pen edit-icon"></i>
            </button>
        </div>
    }
}
