.menu-button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
}

.main-button {
    justify-content: center;
    text-align: center;
    cursor: pointer;
    gap: 6px;
    display: flex;
}

.menu-panel {
    position: relative;
}

.marker-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #dee2e6;
    padding: 2px 6px;
    color: #636363;
    display: none;
    cursor: pointer;
    z-index: 9999999;
}

.menu-panel:hover {
    .marker-icon {
        display: block;
    }
}

.edit-icon {
  font-size: 12px;
  border: 1px solid #636363;
  border-radius: 3px;
  background-color: #dee2e6;
  padding: 4px 6px;
  color: #636363;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.menu-option:hover {
    .edit-icon {
        display: block;
    }
}

::ng-deep .mat-mdc-menu-content {
    padding: 0px !important;
}

::ng-deep .mat-mdc-menu-item-text {
    display: flex !important;
    gap: 3px !important
}