.main-button {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.menu-panel {
    position: relative;
}

.menu-panel:hover {
    .marker-icon {
        display: block;
    }
}

.marker-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #dee2e6;
    padding: 2px 6px;
    color: #636363;
    display: none;
    cursor: pointer;
    z-index: 9999999;
    height: fit-content;
    width: fit-content;
}

.edit-icon {
  font-size: 12px;
  border: 1px solid #636363;
  border-radius: 3px;
  background-color: #dee2e6;
  padding: 4px 6px;
  color: #636363;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}


::ng-deep .mat-mdc-menu-content {
    padding: 0px !important;
}

::ng-deep .mat-mdc-menu-item-text {
    display: flex !important;
    align-items: center;
}

.drag-box {
  cursor: move;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0 !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.menu-panel.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}