.main-button {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.menu-panel {
    position: relative;
}

.marker-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #dee2e6;
    padding: 2px 6px;
    color: #636363;
    display: none;
    cursor: pointer;
    z-index: 9999999;
    height: fit-content;
    width: fit-content;
}

.menu-panel:hover {
    .marker-icon {
        display: block;
    }
}

.edit-icon {
  font-size: 12px;
  border: 1px solid #636363;
  border-radius: 3px;
  background-color: #dee2e6;
  padding: 4px 6px;
  color: #636363;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}


::ng-deep .mat-mdc-menu-content {
    padding: 0px !important;
}

::ng-deep .mat-mdc-menu-item-text {
    display: flex !important;
    align-items: center;
}