<!-- Main button -->
<div [matMenuTriggerFor]="mainMenu"
    [class]="iconOnTop ? 'main-button' : ''"
    [style.font-size]="navigation.typographyStyle.fontSize + 'px'"
    [style.font-family]="navigation.typographyStyle.fontFamily"
    [style.font-weight]="navigation.typographyStyle.fontWeight"
    [style.color]="isButtonHoveredRecord[navigation.id] ?
        navigation.typographyStyle.activeColor :
        navigation.typographyStyle.color
    "
    (mouseenter)="isButtonHoveredRecord[navigation.id] = true"
    (mouseleave)="isButtonHoveredRecord[navigation.id] = false"
    matTooltip="{{ navigation.description }}"
>
    @if (navigation.icon) {
        <i [class]="'bi bi-' + navigation.icon"></i>
    }

    @if (!navigation.showIconOnly) {
        <span [style.margin-left]="iconOnTop ? '0px' : '4px'">{{ navigation.displayLabel }}</span>
    }
</div>

<!-- Main menu -->
<mat-menu #mainMenu="matMenu">
    <div class="menu-panel"
        [style.background-color]="navigation.menu.containerStyle.backgroundColor"
        [style.border]="navigation.menu.containerStyle.borderWidth + 'px ' +
            navigation.menu.containerStyle.borderStyle + ' ' +
            navigation.menu.containerStyle.borderColor"
        [style.border-top-style]="navigation.menu.containerStyle.isBorderTopHidden ?
            'none' : navigation.menu.containerStyle.borderStyle"
        [style.border-right-style]="navigation.menu.containerStyle.isBorderRightHidden ?
            'none' : navigation.menu.containerStyle.borderStyle"
        [style.border-bottom-style]="navigation.menu.containerStyle.isBorderBottomHidden ?
            'none' : navigation.menu.containerStyle.borderStyle"
        [style.border-left-style]="navigation.menu.containerStyle.isBorderLeftHidden ?
            'none' : navigation.menu.containerStyle.borderStyle"
        [style.border-top-left-radius]="navigation.menu.containerStyle.borderTopLeftRadius + 'px'"
        [style.border-top-right-radius]="navigation.menu.containerStyle.borderTopRightRadius + 'px'"
        [style.border-bottom-right-radius]="navigation.menu.containerStyle.borderBottomRightRadius + 'px'"
        [style.border-bottom-left-radius]="navigation.menu.containerStyle.borderBottomLeftRadius + 'px'"
        [style.margin-top]="navigation.menu.containerLayout.marginTop + 'px'"
        [style.margin-right]="navigation.menu.containerLayout.marginRight + 'px'"
        [style.margin-bottom]="navigation.menu.containerLayout.marginBottom + 'px'"
        [style.margin-left]="navigation.menu.containerLayout.marginLeft + 'px'"
        [style.padding-top]="navigation.menu.containerLayout.paddingTop + 'px'"
        [style.padding-right]="navigation.menu.containerLayout.paddingRight + 'px'"
        [style.padding-bottom]="navigation.menu.containerLayout.paddingBottom + 'px'"
        [style.padding-left]="navigation.menu.containerLayout.paddingLeft + 'px'"
        cdkDropList
        (cdkDropListDropped)="drop($event, navigation)"
        [cdkDropListData]="navigation.children!"
        [cdkDropListDisabled]="false"
    >
        <!-- Main menu 'edit style' button -->
        @if (navigation.permissionName?.includes('edit')) {
            <i class="bi bi-marker-tip marker-icon" (click)="editMenuStyle(navigation.menu)"></i>
        } 

        <!-- Main menu items -->
        @for (child of navigation.children; track child.id) {
            
            <!-- item is a menu -->
            @if (child.navigationType.name === 'menu-button') {
                <ng-container *ngTemplateOutlet="deepMenu; context: { $implicit: child }"></ng-container>
            }
            
            <!-- item is a custom button-->
            @else {
                <div mat-menu-item 
                    cdkDrag
                    class='example-box'
                    [style.opacity]="child.isDisabled ? '0.4' : '1'"
                >
                    <app-custom-button 
                        class="col"
                        [navigation]="child" 
                    ></app-custom-button>

                    <!-- edit item buttons -->
                    @if (child.permissionName?.includes('edit')) {
                        <i class="col-1 ms-1 bi bi-marker-tip edit-icon" (click)="editNavigationStyle($event, child)"></i>
                        <i class="col-1 ms-1 bi bi-gear edit-icon" (click)="editNavigation($event, child)"></i>
                    }
                </div>
            }
        }

        <!-- Main menu  'Add Navigation' item -->
        @if (navigation.permissionName?.includes('add')) {
            <button mat-menu-item 
                (click)="addNavigation(navigation.id)"
                [style.font-weight]="navigation.menu.typographyStyle.fontWeight"
                [style.color]="isButtonHoveredRecord['add-nav-main'] ?
                    navigation.menu.typographyStyle.activeColor :
                    navigation.menu.typographyStyle.color
                "
                (mouseenter)="isButtonHoveredRecord['add-nav-main'] = true"
                (mouseleave)="isButtonHoveredRecord['add-nav-main'] = false"
            >   
                +
            </button>
        }


        <!-- Deep menu template-->
        <ng-template #deepMenu let-navigation>
            
            <!-- Deep menu button -->
            <div mat-menu-item
                cdkDrag 
                class='example-box'
                [matMenuTriggerFor]="subMenu"
                [style.font-weight]="navigation.typographyStyle.fontWeight"
                [style.color]="isButtonHoveredRecord[navigation.id] ?
                    navigation.typographyStyle.activeColor :
                    navigation.typographyStyle.color
                "
                [style.font-family]="navigation.typographyStyle.fontFamily"
                [style.font-size]="navigation.typographyStyle.fontSize"
                [style.opacity]="navigation.isDisabled ? '0.4' : '1'"
                (mouseenter)="isButtonHoveredRecord[navigation.id] = true"
                (mouseleave)="isButtonHoveredRecord[navigation.id] = false"
                matTooltip="{{ navigation.description }}"
            >
                <div class="col">
                    @if (navigation.icon) {
                        <i [class]="'bi bi-' + navigation.icon"></i>
                    }

                    @if (!navigation.showIconOnly) {
                        <span class="ms-1">{{ navigation.displayLabel }}</span>
                    }
                </div>

                <!-- Deep Menu button - edit buttons -->
                @if (navigation.permissionName?.includes('edit')) {
                    <i class="col-1 ms-1 bi bi-marker-tip edit-icon" (click)="editNavigationStyle($event, navigation)"></i>
                    <i class="col-1 ms-1 bi bi-gear edit-icon" (click)="editNavigation($event, navigation)"></i>
                }
            </div>
            
            <!-- Deep menu -->
            <mat-menu #subMenu="matMenu">
                <div class="menu-panel"
                    [style.background-color]="navigation.menu.containerStyle.backgroundColor"
                    [style.border]="navigation.menu.containerStyle.borderWidth + 'px ' +
                        navigation.menu.containerStyle.borderStyle + ' ' +
                        navigation.menu.containerStyle.borderColor"
                    [style.border-top-style]="navigation.menu.containerStyle.isBorderTopHidden ?
                        'none' : navigation.menu.containerStyle.borderStyle"
                    [style.border-right-style]="navigation.menu.containerStyle.isBorderRightHidden ?
                        'none' : navigation.menu.containerStyle.borderStyle"
                    [style.border-bottom-style]="navigation.menu.containerStyle.isBorderBottomHidden ?
                        'none' : navigation.menu.containerStyle.borderStyle"
                    [style.border-left-style]="navigation.menu.containerStyle.isBorderLeftHidden ?
                        'none' : navigation.menu.containerStyle.borderStyle"
                    [style.border-top-left-radius]="navigation.menu.containerStyle.borderTopLeftRadius + 'px'"
                    [style.border-top-right-radius]="navigation.menu.containerStyle.borderTopRightRadius + 'px'"
                    [style.border-bottom-right-radius]="navigation.menu.containerStyle.borderBottomRightRadius + 'px'"
                    [style.border-bottom-left-radius]="navigation.menu.containerStyle.borderBottomLeftRadius + 'px'"
                    [style.margin-top]="navigation.menu.containerLayout.marginTop + 'px'"
                    [style.margin-right]="navigation.menu.containerLayout.marginRight + 'px'"
                    [style.margin-bottom]="navigation.menu.containerLayout.marginBottom + 'px'"
                    [style.margin-left]="navigation.menu.containerLayout.marginLeft + 'px'"
                    [style.padding-top]="navigation.menu.containerLayout.paddingTop + 'px'"
                    [style.padding-right]="navigation.menu.containerLayout.paddingRight + 'px'"
                    [style.padding-bottom]="navigation.menu.containerLayout.paddingBottom + 'px'"
                    [style.padding-left]="navigation.menu.containerLayout.paddingLeft + 'px'"
                    cdkDropList
                    (cdkDropListDropped)="drop($event, navigation)"
                    [cdkDropListData]="navigation.children!"
                    [cdkDropListDisabled]="false"
                >
                    <!-- Deep menu 'edit style' button -->                    
                    @if (navigation.permissionName?.includes('edit')) {
                        <i class="bi bi-marker-tip marker-icon" (click)="editMenuStyle(navigation.menu)"></i>
                    }

                    <!-- Deep menu items -->
                    @for (child of navigation.children; track child.id) {
                        <!-- item is a custom button -->
                        <div mat-menu-item 
                            cdkDrag
                            class="example-box"
                            [style.opacity]="child.isDisabled ? '0.4' : '1'"
                        >
                            <app-custom-button
                                class="col"
                                [navigation]="child" 
                            ></app-custom-button>

                            <!-- edit item buttons -->
                            @if (child.permissionName?.includes('edit')) {
                                <i class="col-1 ms-1 bi bi-marker-tip edit-icon" (click)="editNavigationStyle($event, child)"></i>
                                <i class="col-1 ms-1 bi bi-gear edit-icon" (click)="editNavigation($event, child)"></i>
                            }
                        </div>
                    }

                    <!-- Deep menu 'Add navigation' item -->
                    @if (navigation.permissionName?.includes('add')) {
                        <button mat-menu-item
                            (click)="addNavigation(navigation.id)"
                            [style.font-weight]="navigation.menu.typographyStyle.fontWeight"
                            [style.color]="isButtonHoveredRecord['add-nav-deep'] ?
                                navigation.menu.typographyStyle.activeColor :
                                navigation.menu.typographyStyle.color
                            "
                            (mouseenter)="isButtonHoveredRecord['add-nav-deep'] = true"
                            (mouseleave)="isButtonHoveredRecord['add-nav-deep'] = false"
                        >
                            +
                        </button>
                    }
                </div>
            </mat-menu>
        </ng-template>
    </div>
</mat-menu>
