<!-- Main button -->
<button [matMenuTriggerFor]="mainMenu"
    class="menu-button"
    [style.font-size]="navigation.typographyStyle.fontSize + 'px'"
    [style.font-family]="navigation.typographyStyle.fontFamily"
    [style.font-weight]="navigation.typographyStyle.fontWeight"
    [style.color]="isButtonHoveredRecord[navigation.id] ?
        navigation.typographyStyle.activeColor :
        navigation.typographyStyle.color
    "
    (mouseenter)="isButtonHoveredRecord[navigation.id] = true"
    (mouseleave)="isButtonHoveredRecord[navigation.id] = false"
    matTooltip="{{navigation.description}}"
>
    {{ navigation.displayLabel }}
</button>

<!-- Main menu -->
<mat-menu #mainMenu="matMenu">
    <div class="menu-panel"
        [style.background-color]="navigation.menu.containerStyle.backgroundColor"
        [style.border]="navigation.menu.containerStyle.borderWidth + 'px ' +
            navigation.menu.containerStyle.borderStyle + ' ' +
            navigation.menu.containerStyle.borderColor"
        [style.border-top-style]="navigation.menu.containerStyle.isBorderTopHidden ?
            'none' : navigation.menu.containerStyle.borderStyle"
        [style.border-right-style]="navigation.menu.containerStyle.isBorderRightHidden ?
            'none' : navigation.menu.containerStyle.borderStyle"
        [style.border-bottom-style]="navigation.menu.containerStyle.isBorderBottomHidden ?
            'none' : navigation.menu.containerStyle.borderStyle"
        [style.border-left-style]="navigation.menu.containerStyle.isBorderLeftHidden ?
            'none' : navigation.menu.containerStyle.borderStyle"
        [style.border-top-left-radius]="navigation.menu.containerStyle.borderTopLeftRadius + 'px'"
        [style.border-top-right-radius]="navigation.menu.containerStyle.borderTopRightRadius + 'px'"
        [style.border-bottom-right-radius]="navigation.menu.containerStyle.borderBottomRightRadius + 'px'"
        [style.border-bottom-left-radius]="navigation.menu.containerStyle.borderBottomLeftRadius + 'px'"
        [style.margin-top]="navigation.menu.containerLayout.marginTop + 'px'"
        [style.margin-right]="navigation.menu.containerLayout.marginRight + 'px'"
        [style.margin-bottom]="navigation.menu.containerLayout.marginBottom + 'px'"
        [style.margin-left]="navigation.menu.containerLayout.marginLeft + 'px'"
        [style.padding-top]="navigation.menu.containerLayout.paddingTop + 'px'"
        [style.padding-right]="navigation.menu.containerLayout.paddingRight + 'px'"
        [style.padding-bottom]="navigation.menu.containerLayout.paddingBottom + 'px'"
        [style.padding-left]="navigation.menu.containerLayout.paddingLeft + 'px'"
        [style.font-family]="navigation.menu.typographyStyle.fontFamily"
        [style.font-size]="navigation.menu.typographyStyle.fontSize + 'px'"
    >
        <!-- Main menu edit style icon -->
        <i class="bi bi-marker-tip marker-icon" (click)="openFormToEditMenuStyle(navigation.menu)"></i>

        <!-- Main menu options -->
        @for (child of navigation.children; track child.id) {
            @if (child.navigationType.name === 'menu-button') {
                <ng-container *ngTemplateOutlet="deepMenu; context: { $implicit: child, parentMenu: navigation.menu }"></ng-container>
            }
            @else {
                <button mat-menu-item
                    class="menu-option"
                    (click)="navigateTo(child.name)"
                    [style.font-weight]="navigation.menu.typographyStyle.fontWeight"
                    [style.color]="isButtonHoveredRecord[child.id] ?
                        navigation.menu.typographyStyle.activeColor :
                        navigation.menu.typographyStyle.color
                    "
                    (mouseenter)="isButtonHoveredRecord[child.id] = true"
                    (mouseleave)="isButtonHoveredRecord[child.id] = false"
                    matTooltip="{{child.description}}"
                >
                    {{ child.displayLabel }}

                    <i class="bi bi-gear edit-icon" (click)="openFormToEditButton($event, child)"></i>
                </button>
            }
        }

        <!-- Main menu 'Add option' option -->
        <button mat-menu-item
            [matMenuTriggerFor]="optionMenu"
            class="menu-button"
            [style.font-weight]="navigation.menu.typographyStyle.fontWeight"
            [style.color]="isButtonHoveredRecord['add-option'] ?
                navigation.menu.typographyStyle.activeColor :
                navigation.menu.typographyStyle.color
            "
            (mouseenter)="isButtonHoveredRecord['add-option'] = true"
            (mouseleave)="isButtonHoveredRecord['add-option'] = false"
        >
            Add option
        </button>
        <mat-menu #optionMenu="matMenu">
            <div class="menu-panel"
                [style.background-color]="navigation.menu.containerStyle.backgroundColor"
                [style.border]="navigation.menu.containerStyle.borderWidth + 'px ' +
                    navigation.menu.containerStyle.borderStyle + ' ' +
                    navigation.menu.containerStyle.borderColor"
                [style.border-top-style]="navigation.menu.containerStyle.isBorderTopHidden ?
                    'none' : navigation.menu.containerStyle.borderStyle"
                [style.border-right-style]="navigation.menu.containerStyle.isBorderRightHidden ?
                    'none' : navigation.menu.containerStyle.borderStyle"
                [style.border-bottom-style]="navigation.menu.containerStyle.isBorderBottomHidden ?
                    'none' : navigation.menu.containerStyle.borderStyle"
                [style.border-left-style]="navigation.menu.containerStyle.isBorderLeftHidden ?
                    'none' : navigation.menu.containerStyle.borderStyle"
                [style.border-top-left-radius]="navigation.menu.containerStyle.borderTopLeftRadius + 'px'"
                [style.border-top-right-radius]="navigation.menu.containerStyle.borderTopRightRadius + 'px'"
                [style.border-bottom-right-radius]="navigation.menu.containerStyle.borderBottomRightRadius + 'px'"
                [style.border-bottom-left-radius]="navigation.menu.containerStyle.borderBottomLeftRadius + 'px'"
                [style.margin-top]="navigation.menu.containerLayout.marginTop + 'px'"
                [style.margin-right]="navigation.menu.containerLayout.marginRight + 'px'"
                [style.margin-bottom]="navigation.menu.containerLayout.marginBottom + 'px'"
                [style.margin-left]="navigation.menu.containerLayout.marginLeft + 'px'"
                [style.padding-top]="navigation.menu.containerLayout.paddingTop + 'px'"
                [style.padding-right]="navigation.menu.containerLayout.paddingRight + 'px'"
                [style.padding-bottom]="navigation.menu.containerLayout.paddingBottom + 'px'"
                [style.padding-left]="navigation.menu.containerLayout.paddingLeft + 'px'"
                [style.font-family]="navigation.menu.typographyStyle.fontFamily"
                [style.font-size]="navigation.menu.typographyStyle.fontSize + 'px'"
            >
                <button mat-menu-item 
                    (click)="openFormToAddButton(navigation.id, 'redirect-button')"
                    [style.font-weight]="navigation.menu.typographyStyle.fontWeight"
                    [style.color]="isButtonHoveredRecord['add-redirect-button'] ?
                        navigation.menu.typographyStyle.activeColor :
                        navigation.menu.typographyStyle.color
                    "
                    (mouseenter)="isButtonHoveredRecord['add-redirect-button'] = true"
                    (mouseleave)="isButtonHoveredRecord['add-redirect-button'] = false"
                >   
                    Add redirect button
                </button>
                <button mat-menu-item 
                    (click)="openFormToAddButton(navigation.id, 'menu-button')"
                    [style.font-weight]="navigation.menu.typographyStyle.fontWeight"
                    [style.color]="isButtonHoveredRecord['add-menu-button'] ?
                        navigation.menu.typographyStyle.activeColor :
                        navigation.menu.typographyStyle.color
                    "
                    (mouseenter)="isButtonHoveredRecord['add-menu-button'] = true"
                    (mouseleave)="isButtonHoveredRecord['add-menu-button'] = false"
                >   
                    Add menu
                </button>
            </div>
        </mat-menu>

        <!-- Deep Menu template-->
        <ng-template #deepMenu let-navigation let-parentMenu="parentMenu">
            <!-- Deep menu button -->
            <button mat-menu-item 
                [matMenuTriggerFor]="subMenu" 
                class="menu-button menu-option"
                [style.font-weight]="parentMenu.typographyStyle.fontWeight"
                [style.color]="isButtonHoveredRecord[navigation.id] ?
                    parentMenu.typographyStyle.activeColor :
                    parentMenu.typographyStyle.color
                "
                (mouseenter)="isButtonHoveredRecord[navigation.id] = true"
                (mouseleave)="isButtonHoveredRecord[navigation.id] = false"
                matTooltip="{{navigation.description}}"
            >
                {{ navigation.displayLabel }}

                <i class="bi bi-gear edit-icon" (click)="openFormToEditButton($event, navigation)"></i>
            </button>
            
            <!-- Deep menu -->
            <mat-menu #subMenu="matMenu">
                <div class="menu-panel"
                    [style.background-color]="navigation.menu.containerStyle.backgroundColor"
                    [style.border]="navigation.menu.containerStyle.borderWidth + 'px ' +
                        navigation.menu.containerStyle.borderStyle + ' ' +
                        navigation.menu.containerStyle.borderColor"
                    [style.border-top-style]="navigation.menu.containerStyle.isBorderTopHidden ?
                        'none' : navigation.menu.containerStyle.borderStyle"
                    [style.border-right-style]="navigation.menu.containerStyle.isBorderRightHidden ?
                        'none' : navigation.menu.containerStyle.borderStyle"
                    [style.border-bottom-style]="navigation.menu.containerStyle.isBorderBottomHidden ?
                        'none' : navigation.menu.containerStyle.borderStyle"
                    [style.border-left-style]="navigation.menu.containerStyle.isBorderLeftHidden ?
                        'none' : navigation.menu.containerStyle.borderStyle"
                    [style.border-top-left-radius]="navigation.menu.containerStyle.borderTopLeftRadius + 'px'"
                    [style.border-top-right-radius]="navigation.menu.containerStyle.borderTopRightRadius + 'px'"
                    [style.border-bottom-right-radius]="navigation.menu.containerStyle.borderBottomRightRadius + 'px'"
                    [style.border-bottom-left-radius]="navigation.menu.containerStyle.borderBottomLeftRadius + 'px'"
                    [style.margin-top]="navigation.menu.containerLayout.marginTop + 'px'"
                    [style.margin-right]="navigation.menu.containerLayout.marginRight + 'px'"
                    [style.margin-bottom]="navigation.menu.containerLayout.marginBottom + 'px'"
                    [style.margin-left]="navigation.menu.containerLayout.marginLeft + 'px'"
                    [style.padding-top]="navigation.menu.containerLayout.paddingTop + 'px'"
                    [style.padding-right]="navigation.menu.containerLayout.paddingRight + 'px'"
                    [style.padding-bottom]="navigation.menu.containerLayout.paddingBottom + 'px'"
                    [style.padding-left]="navigation.menu.containerLayout.paddingLeft + 'px'"
                    [style.font-family]="navigation.menu.typographyStyle.fontFamily"
                    [style.font-size]="navigation.menu.typographyStyle.fontSize + 'px'"
                >
                    <!-- Main menu edit style icon -->
                    <i class="bi bi-marker-tip marker-icon" (click)="openFormToEditMenuStyle(navigation.menu)"></i>

                    <!-- Deep menu options -->
                    @for (child of navigation.children; track child.id) {
                        <button mat-menu-item 
                            class="menu-option"
                            (click)="navigateTo(child.name)"
                            [style.font-weight]="navigation.menu.typographyStyle.fontWeight"
                            [style.color]="isButtonHoveredRecord[child.id] ?
                                navigation.menu.typographyStyle.activeColor :
                                navigation.menu.typographyStyle.color
                            "
                            (mouseenter)="isButtonHoveredRecord[child.id] = true"
                            (mouseleave)="isButtonHoveredRecord[child.id] = false"
                            matTooltip="{{child.description}}"
                        >
                            {{ child.displayLabel }}

                            <i class="bi bi-gear edit-icon" (click)="openFormToEditButton($event, child)"></i>
                        </button>
                    }
                    <button mat-menu-item
                        class="menu-button"
                        (click)="openFormToAddButton(navigation.id, 'redirect-button')"
                        [style.font-weight]="navigation.menu.typographyStyle.fontWeight"
                        [style.color]="isButtonHoveredRecord['redirect-button-single'] ?
                            navigation.menu.typographyStyle.activeColor :
                            navigation.menu.typographyStyle.color
                        "
                        (mouseenter)="isButtonHoveredRecord['redirect-button-single'] = true"
                        (mouseleave)="isButtonHoveredRecord['redirect-button-single'] = false"
                    >
                        Add redirect button
                    </button>
                </div>
            </mat-menu>
        </ng-template>
    </div>
</mat-menu>
