.main-container{
    max-height: 90vh;
    overflow-x: hidden;
    padding: 14px;
    margin: 20px 10px;
}    

.form-group-box {
    width: -webkit-fill-available;
    margin: 12px;
    padding: 24px;
    border: 1px solid #636363;
    border-radius: 4px;
}

.form-group-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #636363;
}

.form-button {
    max-width: 100px;
    margin-right: 20px;
}



