<!-- Main level form template-->
<div class="main-container">
    <form [formGroup]="formContent" class="row" (ngSubmit)="submitForm()">
       
        @for (input of _data | keyvalue; track input) {
            @if (isStandardInput(input.value) || isDropdownInput(input.value)) {
                <ng-container *ngTemplateOutlet="formControls; context: { $implicit: input, parent: formContent }"></ng-container>
            }
            @else {
                <ng-container *ngTemplateOutlet="deepForm; context: { $implicit: input, parent: formContent }"></ng-container>
            }        
        }

        <button matButton type="submit" [disabled]="!formContent.valid">Submit</button>
    </form>
</div>

<!-- Recursive form template -->
<ng-template #deepForm let-data let-parent="parent">
    <div class="form-group-box">
        <div class="form-group-name">{{ data.key }}</div>
        <div [formGroup]="getFormGroup(parent, data.key)" class="row">
            @for (input of data.value | keyvalue; track input) {
                @if(isStandardInput(input.value) || isDropdownInput(input.value)) {
                    <ng-container *ngTemplateOutlet="formControls; context: { $implicit: input, parent: getFormGroup(parent, data.key) }"></ng-container>
                }
                @else {
                    <ng-container *ngTemplateOutlet="deepForm; context: { $implicit: input, parent: getFormGroup(parent, data.key) }"></ng-container>
                }        
            }
        </div>
    </div>
</ng-template>

<!-- Form controls template -->
<ng-template #formControls let-input let-parent="parent">
    <div class="col">

        @if (isStandardInput(input.value)) {
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ input.key }}</mat-label>
                <input type="text" 
                    [formControl]="getFormControl(parent, input.key)" 
                    matInput
                />
            </mat-form-field>
        }
        @else if (isDropdownInput(input.value)) {
            <mat-form-field appearance="outline" class="w-100" >
                <mat-label>{{ input.key }}</mat-label>
                <mat-select [formControl]="getFormControl(parent, input.key)">
                    @for (item of input.value.dropdownConfig.items; track item) {
                        @if (input.value.dropdownConfig.isPrimitive) {
                            <mat-option [value]="item">{{ item }}</mat-option>
                        }
                        @else {
                            <mat-option [value]="item[input.value.dropdownConfig.bindValue]">
                                {{ item[input.value.dropdownConfig.bindLabel] }}
                            </mat-option>
                        }
                    }
                </mat-select>
            </mat-form-field>
        }
    
    </div>
</ng-template>


