<div class="row m-2 files-container">
    
    @for (file of files; track file.id) {
        <div class="col-2 m-3 p-2 file-box">

            <i class="bi bi-fullscreen fullsize-icon"
                (click)="onFullSizeClick(file)"
            >
            </i>
            <i class="bi bi-trash-fill delete-icon"
                (click)="onDeleteClick(file)"
            >
            </i>
            
            @if (fileIdS3UrlMap[file.name]) {         
                @if (file.type.includes('image')) {
                    <img class="media" [src]="fileIdS3UrlMap[file.name] | async" />
                }

                @if (file.type.includes('video')) {
                    <video class="media" controls [src]="fileIdS3UrlMap[file.name] | async"></video>
                }

                @if (file.type.includes('audio')) {
                    <audio class="media" controls [src]="fileIdS3UrlMap[file.name] | async"></audio>
                }
            }
            @else {
                <img class="media" 
                    src="../../../../assets/images/media_default_image.png"
                    (mouseenter)="onDefaultImageMouseEnter(file.name)"
                />
            }

            <strong class="file-name" [matTooltip]="file.name">- {{file.name}}</strong>
            <span><strong>- Date: </strong> {{file.createdDate | date: 'dd/MM/yyyy'}}</span>
        </div>
    }

</div>