<div class="row mt-3 mx-3 align-items-baseline">
    <h4 class="col-sm-3">File Management</h4>
    <mat-form-field class="col-sm-6" appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
</div>

<div class="row mx-2 files-container">
    
    @for (file of filteredFiles; track file.id) {
        <div class="col-sm-2 col-11 m-3 p-2 file-box">

            <i class="bi bi-fullscreen fullsize-icon"
                (click)="onFullSizeClick(file)"
            >
            </i>
            <i class="bi bi-trash-fill delete-icon"
                (click)="onDeleteClick(file)"
            >
            </i>
            
            @if (fileIdS3UrlMap[file.name]) {         
                @if (file.type.includes('image')) {
                    <img class="media" [src]="fileIdS3UrlMap[file.name] | async" />
                }

                @if (file.type.includes('video')) {
                    <video class="media" controls [src]="fileIdS3UrlMap[file.name] | async"></video>
                }

                @if (file.type.includes('audio')) {
                    <audio class="media" controls [src]="fileIdS3UrlMap[file.name] | async"></audio>
                }
            }
            @else {
                <img class="media" 
                    src="../../../../assets/images/media_default_image.png"
                    (mouseenter)="onDefaultImageMouseEnter(file.name)"
                />
            }

            <strong class="file-name" [matTooltip]="file.name">- {{file.name}}</strong>
            <span><strong>- Date: </strong> {{file.createdDate | date: 'dd/MM/yyyy'}}</span>
        </div>
    }

</div>