<div class="main-container">
    <h5 class="mb-5">Content Management Form</h5>

    <form [formGroup]="formContent" class="m-2" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="w-100 mb-4">
            <mat-label>Module Name</mat-label>
            <input type="text" matInput formControlName="tableLabel"/>
        </mat-form-field>
        
        <div formArrayName="formInputs">

            @for (formInputGroup of formInputs.controls; track $index; let i = $index) {
                <div [formGroupName]="i" class="row mb-4">
                    <div class="row align-items-baseline">
                        <span class="col-1">{{ i + 1 }}.</span>

                        <mat-form-field appearance="outline" class="col w-100">
                            <mat-label [title]="'Input Label'">Input Label</mat-label>
                            <input type="text" matInput formControlName="inputLabel"/>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col w-100">
                            <mat-label [title]="'Input Type'">Input Type</mat-label>
                            <mat-select formControlName="inputType">
                                @for (item of inputTypeItems; track item) {
                                    <mat-option [value]="item">{{ item }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col w-100">
                            <mat-label [title]="'Validators'">Validators</mat-label>
                            <mat-select formControlName="validators" multiple>
                                @for (item of validatorItems; track item) {
                                    <mat-option [value]="item">{{ item }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        @if (formInputs.length > 1) {
                            <i class="bi bi-trash-fill delete-icon col-1" (click)="onDeleteClick(i)"></i>
                        }
                    </div>

                    <!-- If dropdown is selected then add additional form control for dropdown information -->
                    @if (formInputGroup.get('inputType')?.value === 'dropdown') {
                        <div class="row dropdown-row">
                            <mat-form-field appearance="outline" class="col w-100">
                                <mat-label [title]="'Value Type'">Value Type</mat-label>
                                <mat-select formControlName="columnType">
                                    @for (item of columnTypeItems; track item) {
                                        <mat-option [value]="item">{{ item }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>

                            <mat-checkbox formControlName="isList" class="col w-100">Multiple Values</mat-checkbox>

                            <mat-form-field appearance="outline" class="col w-100">
                                <mat-label [title]="'Dropdown Items (commas separated)'">Dropdown Items</mat-label>
                                <input type="text" matInput formControlName="dropdownItems"/>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col w-100">
                                <mat-label [title]="'Dropdown Route Name'">Dropdown Route Name</mat-label>
                                <input type="text" matInput formControlName="dropdownRouteName"/>
                            </mat-form-field>

                            @if (formInputGroup.get('dropdownRouteName')?.value) {
                                <mat-form-field appearance="outline" class="col w-100">
                                    <mat-label [title]="'Bind Value'">Bind Value</mat-label>
                                    <input type="text" matInput formControlName="bindValue"/>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col w-100">
                                    <mat-label [title]="'Bind Label'">Bind Label</mat-label>
                                    <input type="text" matInput formControlName="bindLabel"/>
                                </mat-form-field>
                            }
                        </div>
                    }
                </div>
            }
        
            <button matButton="outlined" type="button" (click)="addInput()">+ Add another input</button>
        </div>

        <button 
            matButton="outlined" 
            type="submit" 
            class="submit-button"
            [disabled]="!formContent.valid">
            Submit
        </button>
    </form>
</div>
