<!-- Navigation bar container -->
<div [style.width]="containerWidth">

    <!-- Laptop screen -->
    @if (windowWidth > windowWidthLimit) {

        <!-- List of navigations -->
        <div
            [style.background-color]="navigation.menu.containerStyle.isBackgroundTransparent
                ? 'transparent' : navigation.menu.containerStyle.backgroundColor"
            [style.height.px]="navigation.menu.containerLayout.height 
                ? navigation.menu.containerLayout.height : 60"
            [style.border]="navigation.menu.containerStyle.borderWidth + 'px ' +
                navigation.menu.containerStyle.borderStyle + ' ' +
                navigation.menu.containerStyle.borderColor"
            [style.border-top-style]="navigation.menu.containerStyle.isBorderTopHidden ?
                'none' : navigation.menu.containerStyle.borderStyle"
            [style.border-right-style]="navigation.menu.containerStyle.isBorderRightHidden ?
                'none' : navigation.menu.containerStyle.borderStyle"
            [style.border-bottom-style]="navigation.menu.containerStyle.isBorderBottomHidden ?
                'none' : navigation.menu.containerStyle.borderStyle"
            [style.border-left-style]="navigation.menu.containerStyle.isBorderLeftHidden ?
                'none' : navigation.menu.containerStyle.borderStyle"
            [style.border-top-left-radius.px]="navigation.menu.containerStyle.borderTopLeftRadius"
            [style.border-top-right-radius.px]="navigation.menu.containerStyle.borderTopRightRadius"
            [style.border-bottom-right-radius.px]="navigation.menu.containerStyle.borderBottomRightRadius"
            [style.border-bottom-left-radius.px]="navigation.menu.containerStyle.borderBottomLeftRadius"
            [style.margin-top.px]="windowWidth > windowWidthLimit ? navigation.menu.containerLayout.marginTop : ''"
            [style.margin-right.px]="windowWidth > windowWidthLimit ? navigation.menu.containerLayout.marginRight : ''"
            [style.margin-bottom.px]="windowWidth > windowWidthLimit ? navigation.menu.containerLayout.marginBottom : ''"
            [style.margin-left.px]="windowWidth > windowWidthLimit ? navigation.menu.containerLayout.marginLeft : ''"
        >
            <div class="header-list">
                @for (child of navigation.children; track child.id) {
                    <!-- Navigation -->
                    <div class="header-box"
                        cdkDrag
                        cdkDragLockAxis="x"
                        cdkDragBoundary=".header-list"
                        (cdkDragStarted)="onDragStart()"
                        (cdkDragEnded)="onDragEnded($event, child)"
                        [cdkDragFreeDragPosition]="{
                            x: child.containerLayout.xPos
                                ? (child.containerLayout.xPos * windowWidth / 100) 
                                : 0,
                            y: 0,
                        }"
                        [class.edit-header-container]="child.permissionName?.includes('edit')"
                        [style.cursor]="navigation.permissionName?.includes('edit') ? 'move' : 'pointer'"
                    >
                        <div
                            [style.padding-top.px]="child.containerLayout.paddingTop"
                            [style.padding-bottom.px]="child.containerLayout.paddingBottom"
                            [style.padding-right.px]="child.containerLayout.paddingRight"
                            [style.padding-left.px]="child.containerLayout.paddingLeft"
                            [style.background-color]="child.containerStyle.isBackgroundTransparent ?
                                'transparent' : child.containerStyle.backgroundColor"
                            [style.border-width.px]="child.containerStyle.borderWidth && child.containerStyle.borderWidth > 0 ?
                                child.containerStyle.borderWidth : 1"
                            [style.border-color]="child.containerStyle.borderColor ?? 'transparent'"
                            [style.border-style]="child.containerStyle.borderStyle"
                            [style.border-top-color]="child.containerStyle.isBorderTopHidden ?
                                'transparent' : child.containerStyle.borderColor ?? 'transparent'"
                            [style.border-right-color]="child.containerStyle.isBorderRightHidden ?
                                'transparent' : child.containerStyle.borderColor ?? 'transparent'"
                            [style.border-bottom-color]="child.containerStyle.isBorderBottomHidden ?
                                'transparent' : child.containerStyle.borderColor ?? 'transparent'"
                            [style.border-left-color]="child.containerStyle.isBorderLeftHidden ?
                                'transparent' : child.containerStyle.borderColor ?? 'transparent'"
                            [style.border-top-left-radius.px]="child.containerStyle.borderTopLeftRadius"
                            [style.border-top-right-radius.px]="child.containerStyle.borderTopRightRadius"
                            [style.border-bottom-right-radius.px]="child.containerStyle.borderBottomRightRadius"
                            [style.border-bottom-left-radius.px]="child.containerStyle.borderBottomLeftRadius"
                        >
                            @if (child.navigationType.name === 'menu-button') {
                                <app-menu-button
                                    class="custom-button"
                                    (mousedown)="$event.stopPropagation()"
                                    [navigation]="child"
                                    [style.opacity]="child.isDisabled ? '0.4' : '1'"
                                ></app-menu-button>
                            }
                            @else {
                                <app-custom-button
                                    class="custom-button"
                                    [navigation]="child"
                                    (mousedown)="$event.stopPropagation()"
                                    [style.opacity]="child.isDisabled ? '0.4' : '1'"
                                ></app-custom-button>
                            }

                            <!-- Edit navigation buttons -->
                            @if (child.permissionName?.includes('edit') && !isDragging) {
                                <i class="bi bi-marker-tip edit-header-icon edit-header-style-icon"
                                    (click)="editNavigationStyle(child)"
                                ></i>
                                <i class="bi bi-gear edit-header-icon edit-header-general-icon"
                                    (click)="manageNavigation(child)"
                                ></i>
                            }
                        </div>
                    </div>
                }

                <!-- Add navigation button -->
                @if (navigation.permissionName?.includes('add') && !isDragging) {
                    <button class="menu-button add-nav-button" 
                        (click)="manageNavigation()"
                        matTooltip="Add header"
                    >   
                        +
                    </button>
                }
            
                <!-- Edit menu style button -->
                @if (navigation.permissionName?.includes('edit') && !isDragging) {
                    <i class="bi bi-marker-tip menu-button edit-menu-button" 
                    (click)="editMenuStyle()"
                        matTooltip="Edit menu style"
                    ></i>
                }
            </div>
        </div>
    }

    <!-- Phone screen -->
    @else {
        <div class="d-flex"
            [style.background-color]="navigation.menu.containerStyle.isBackgroundTransparent
                ? 'transparent' : navigation.menu.containerStyle.backgroundColor"
        >
            <!-- Burger button -->
            <i class="bi bi-list burger-button" 
                [style.color]="navigation.children ? navigation.children[0].typographyStyle.color : '#FFF'"
                [matMenuTriggerFor]="menu"
            >
            </i>

            <!-- Burger menu -->
            <mat-menu #menu="matMenu" class="burger-menu">
                <div [style.background-color]="navigation.menu.containerStyle.backgroundColor">
                    
                    @for (child of navigation.children; track child.id) {  
                        <div mat-menu-item [style.opacity]="child.isDisabled ? '0.4' : '1'">   
                            
                            @if (child.navigationType.name === 'menu-button') {
                                <app-menu-button
                                    class="w-100"
                                    (click)="$event.stopPropagation()"
                                    [navigation]="child"
                                ></app-menu-button>
                            }
                            @else {
                                <app-custom-button
                                    class="w-100"
                                    [navigation]="child"
                                ></app-custom-button>
                            }

                        </div>
                    }

                </div>
            </mat-menu>
        </div>
    }
</div>

<router-outlet />