<!-- Navigation bar -->
<div class="menu-container"
    [style.background-color]="navigation.menu.containerStyle.backgroundColor"
    [style.width]="navigation.menu.containerLayout.width + 'px'"
    [style.height]="navigation.menu.containerLayout.height + 'px'"
    [style.border]="navigation.menu.containerStyle.borderWidth + 'px ' +
        navigation.menu.containerStyle.borderStyle + ' ' +
        navigation.menu.containerStyle.borderColor"
    [style.border-top-style]="navigation.menu.containerStyle.isBorderTopHidden ?
        'none' : navigation.menu.containerStyle.borderStyle"
    [style.border-right-style]="navigation.menu.containerStyle.isBorderRightHidden ?
        'none' : navigation.menu.containerStyle.borderStyle"
    [style.border-bottom-style]="navigation.menu.containerStyle.isBorderBottomHidden ?
        'none' : navigation.menu.containerStyle.borderStyle"
    [style.border-left-style]="navigation.menu.containerStyle.isBorderLeftHidden ?
        'none' : navigation.menu.containerStyle.borderStyle"
    [style.border-top-left-radius]="navigation.menu.containerStyle.borderTopLeftRadius + 'px'"
    [style.border-top-right-radius]="navigation.menu.containerStyle.borderTopRightRadius + 'px'"
    [style.border-bottom-right-radius]="navigation.menu.containerStyle.borderBottomRightRadius + 'px'"
    [style.border-bottom-left-radius]="navigation.menu.containerStyle.borderBottomLeftRadius + 'px'"
    [style.margin-top]="navigation.menu.containerLayout.marginTop + 'px'"
    [style.margin-right]="navigation.menu.containerLayout.marginRight + 'px'"
    [style.margin-bottom]="navigation.menu.containerLayout.marginBottom + 'px'"
    [style.margin-left]="navigation.menu.containerLayout.marginLeft + 'px'"
>

    <!-- List of navigations -->
    <div class="header-list">
        @for (child of navigation.children; track child.id) {
            <!-- Navigation -->
            <div class="header-box"
                cdkDrag
                cdkDragLockAxis="x"
                (cdkDragStarted)="onDragStart()"
                (cdkDragEnded)="onDragEnded($event, child)"
                [cdkDragFreeDragPosition]="{
                    x: child.containerLayout.xPos ? (child.containerLayout.xPos * initialWindowWidth / 100) : 0,
                    y: 0,
                }"
                [class.nav-container]="child.permissionName?.includes('edit')"
                [style.cursor]="navigation.permissionName?.includes('edit') ? 'move' : 'pointer'"
                [style.opacity]="child.isDisabled ? '0.4' : '1'"
                [style.backgroundColor]="navigation.menu.containerStyle.backgroundColor"
            >
                <!-- custom button case -->
                @if (
                    child.navigationType.name === 'redirect-button' ||
                    child.navigationType.name === 'external-link-button' ||
                    child.navigationType.name === 'dialog-button'
                ) {
                    <app-custom-button
                        [navigation]="child"
                        (mousedown)="$event.stopPropagation()"
                    ></app-custom-button>
                }

                <!-- menu button case -->
                @else {
                    <app-menu-button
                        (mousedown)="$event.stopPropagation()"
                        [navigation]="child"
                        (mousedown)="$event.stopPropagation()"
                    ></app-menu-button>
                }
                
                <!-- Edit navigation buttons -->
                @if (child.permissionName?.includes('edit') && !isDragging) {
                    <i class="bi bi-marker-tip edit-header-icon" (click)="editNavigationStyle(child)"></i>
                    <i class="bi bi-gear edit-header-icon" (click)="manageNavigation(child)"></i>
                }

            </div>
        }
        
    </div>
    
    <!-- Add navigation button -->
    @if (navigation.permissionName?.includes('add')  && !isDragging) {
        <button class="menu-button add-nav-button" 
            (click)="manageNavigation()"
            matTooltip="Add navigation"
        >   
            +
        </button>
    }
    
    <!-- Edit menu style button -->
    @if (navigation.permissionName?.includes('edit')  && !isDragging) {
        <i class="bi bi-marker-tip menu-button edit-menu-button" 
           (click)="editMenuStyle()"
            matTooltip="Edit menu style"
        ></i>
    }

</div>
<router-outlet />
