<div class="row my-4 pt-1">

    <mat-form-field class="col-sm-6" appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    @if (_canAdd) {
        <button class="col-sm-2 ms-auto me-4 mb-3" matButton="outlined" (click)="addRole()">Add Role</button>
    }

    @for (role of filteredRoles; track role.id) {
        <div class="row my-2 gap-3 align-items-center">
            
            <span class="col-sm-3 col-6 fw-bold ellipsis" [title]="role.displayLabel">
                <i class="bi bi-typescript me-2"></i>
                {{role.displayLabel}}
            </span>
            
            <span class="col-6 d-none d-sm-block ellipsis" 
                [title]="role.description"
            >
                {{role.description}}
            </span>

            @if (_canEdit) {
                <button class="col-1 ms-auto"
                    matTooltip="Edit role" 
                    matButton="outlined" 
                    (click)="editRole(role)"
                    [disabled]="role.name === 'super-admin'"
                >
                    <i class="bi bi-pen"></i>
                </button>
            }
            
            @if (_canDelete) {
                <button class="col-1 text-danger"
                    matButton="outlined"
                    matTooltip="Delete role"
                    (click)="deleteRole(role.id)"
                    [disabled]="role.name === 'super-admin'"
                >
                    <i class="bi bi-trash"></i>
                </button>
            }
            
        </div>
    }
</div>
