<div class="row my-4">

    <mat-form-field class="col-sm-6"appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <button class="col-sm-2 ms-auto me-4" matButton="outlined" (click)="addRole()">Add Role</button>

    @for (role of filteredRoles; track role.id) {
        <div class="row my-2 gap-3 align-items-center">
            <span class="col-sm-3 col-6 ellipsis" matTooltip="{{role.displayLabel}}">
                <i class="bi bi-typescript me-2"></i>
                {{role.displayLabel}}
            </span>
            <span class="col-6 d-none d-sm-block ellipsis" 
                matTooltip="{{role.description}}"
            >
                {{role.description}}
            </span>
            <button class="col-1 ms-auto"
                matTooltip="Edit role" 
                matButton="outlined" 
                (click)="editRole(role)">
                <i class="bi bi-pen"></i>
            </button>
            <button class="col-1 text-danger" 
                matButton="outlined" 
                matTooltip="Delete role" 
                (click)="deleteRole(role.id)">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    }
</div>
