.roles-container {
    max-height: calc(100vh - 152px); 
    overflow-y: auto;
    overflow-x: hidden;
}

.ellipsis {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   
}