<div class="test-text row" *ngIf="content">
    <p>{{ content.name }}</p>
    <span (click)="onSpanClick()">{{ content.message }}</span>
    <span>{{ content.navigationId}}</span>
    <button matButton (click)="openGenericForm()">Edit entries</button>
</div>

<!--<div class="resizable-container">
      <div class="resize-handle"></div>
      <div class="content">
        <h3>Resizable Component</h3>
        <p>Drag the bottom-right corner to resize</p>
        <p>Current size: {{currentWidth}}px × {{currentHeight}}px</p>
      </div>
</div>-->

