<div class="m-4">
    <h4>Navigation Management</h4>
    <form [formGroup]="navigationForm" class="row" (ngSubmit)="submitForm()">

        <mat-form-field>
            <mat-label>Navigation Type </mat-label>
            <mat-select formControlName="navigationTypeId">
                @for (navigationType of navigationTypes; track navigationType) {
                    <mat-option [value]="navigationType.id">{{ navigationType.displayLabel }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Parent </mat-label>
            <mat-select formControlName="parentId">
                @for (parent of parentNavigations; track parent) {
                    <mat-option [value]="parent.id">{{ parent.displayLabel }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="displayLabel">
        </mat-form-field>

        @if (data.type === 'header') {
            <mat-form-field>
                <mat-label>Color</mat-label>
                <input matInput type="color" formControlName="color">
            </mat-form-field>
        }

        <mat-checkbox formControlName="isDisabled">Disable</mat-checkbox>
        
        <div class="row form-buttons">
            @if (data.navigation) {
                <button class="col me-3 text-danger" matButton="outlined" type="submit">Delete</button>
            }
            <button class="col me-3" matButton="outlined" type="submit">Save</button>
        </div>
    </form>
</div>

