<div class="m-4">
    <h4>Navigation Management</h4>
    <form [formGroup]="navigationForm" class="row navigation-form" (ngSubmit)="submitForm()">

        <!-- Navigation Type dropdown -->
        <mat-form-field appearance="outline">
            <mat-label>Navigation Type </mat-label>
            <mat-select formControlName="navigationTypeId" (selectionChange)="onNavigationTypeChange($event)">
                @for (navigationType of navigationTypes; track navigationType.name) {
                    <mat-option [disabled]="data.navigation?.id" [value]="navigationType.id">{{ navigationType.displayLabel }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- Parent dropdown -->
        <mat-form-field appearance="outline">
            <mat-label>Parent </mat-label>
            <mat-select formControlName="parentId">
                @for (parent of flatNavigations; track parent.id) {
                    <mat-option [value]="parent.id" [style.color]="parent.id ? '' : 'grey'">
                        {{ parent.displayLabel }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- Name input -->
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="displayLabel">
            <span class="name-length">
                {{ navigationForm.get('displayLabel')?.value?.length ?? 0 }} / 50
            </span>
        </mat-form-field>
        
        <!-- Description input -->
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <!-- Icon dropdown -->
        @if (
            navigationTypeSelected?.name === 'redirect-button' ||
            navigationTypeSelected?.name === 'dialog-button' ||
            navigationTypeSelected?.name === 'menu-button'
        ) {
            <mat-form-field appearance="outline">
                <mat-label>Icon</mat-label>
                <mat-select formControlName="icon">
                    <mat-select-trigger>
                        <i [class]="'bi bi-' + iconFormControl.value"></i>
                    </mat-select-trigger>
                    @for (iconName of _headerBarService.boostrapIconNamesList; track iconName) {
                        <mat-option [value]="iconName">
                            <i [class]="'bi bi-' + iconName"></i>
                        </mat-option>
                    }
                </mat-select>

                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="clearIcon($event)"
                >
                    <i class="bi bi-x-lg menu-cross-icon"></i>
                </button>
            </mat-form-field>
        }

        <!-- Disable checkbox -->
        <mat-checkbox formControlName="isDisabled">Disable</mat-checkbox>
        
        <div class="row form-buttons">
            <!-- Delete navigation button -->
            @if (data.navigation?.permissionName?.includes('delete')) {
                <button class="col me-3 text-danger" 
                        matButton="outlined" 
                        type="button"
                        (click)="deleteNavigation()">
                        Delete
                </button>
            }

            <!-- Sumbit form button -->
            <button class="col me-3" 
                    matButton="outlined" 
                    type="submit"
                    [disabled]="!navigationForm.valid">
                Save
            </button>
        </div>
    </form>
</div>

