.button-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 6px;
    cursor: pointer;

    span {
        min-width: max-content;
    }
}