<div class="button-container"
    [style.flex-direction]="iconOnTop ? 'column' : 'row'"
    (click)="actionClick(navigation)"
    (mouseenter)="isMouseOver = true"
    (mouseleave)="isMouseOver = false"
    matTooltip="{{ navigation.description }}"
    [style.color]="isMouseOver || isRouteActive(navigation.name) ? typographyStyle.activeColor : typographyStyle.color"
    [style.font-size]="typographyStyle.fontSize + 'px'"
    [style.font-weight]="typographyStyle.fontWeight"
    [style.font-family]="typographyStyle.fontFamily"
>
    @if (navigation.icon) {
        <i [class]="'bi bi-' + navigation.icon"></i>
    }

    @if (!navigation.showIconOnly) {
        <span> {{ navigation.displayLabel }} </span>
    }
</div>