.card-div {
  border-radius: 4px;
  min-height: 120px; 
  min-width: 120px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  cursor: pointer;
  position: relative;
}

.card-container {
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}