@if (headerBarConfig) {
    <!--<div class="card-container" >
            
        <div class="row py-4 mx-1 justify-content-center align-items-center">
            
                <div class="col-3 m-3 card-div"
                    [style.background-color]="isUserRoleManagementHovered 
                        ? headerBarConfig.activeColor 
                        : headerBarConfig.backgroundColor"
                    (mouseenter)="isUserRoleManagementHovered = true"
                    (mouseleave)="isUserRoleManagementHovered = false"
                    (click)="navigateToCardUrl('user-role-management')"
                    [matTooltip]="'Manage users, roles and permissions.'"
                >                                   
                    
                    <div class="row gap-1">
                        <i class="bi bi-person-gear text-center" 
                            [style.font-size]="headerBarConfig.fontSize + 2 + 'px'"
                            [style.color]="headerBarConfig.color"></i>
                        <span class="text-center" 
                            [style.color]="headerBarConfig.color"
                            [style.font-family]="headerBarConfig.fontFamily"
                            [style.font-size]="headerBarConfig.fontSize + 'px'">
                            User Role Management
                        </span>
                    </div>
                </div>

                <div class="col-3 m-3 card-div"
                    [style.background-color]="isAnalyticHovered 
                        ? headerBarConfig.activeColor 
                        : headerBarConfig.backgroundColor"
                    (mouseenter)="isAnalyticHovered = true"
                    (mouseleave)="isAnalyticHovered = false"
                    (click)="navigateToCardUrl('analytic')"
                    [matTooltip]="'Find relevant KPIs about the app.'"
                >                                   
                    
                    <div class="row gap-1">
                        <i class="bi bi-graph-up text-center" 
                            [style.font-size]="headerBarConfig.fontSize + 2 + 'px'"
                            [style.color]="headerBarConfig.color"></i>
                        <span class="text-center" 
                            [style.color]="headerBarConfig.color"
                            [style.font-family]="headerBarConfig.fontFamily"
                            [style.font-size]="headerBarConfig.fontSize + 'px'">
                            Analytic
                        </span>
                    </div>
                </div>

                <div class="col-3 m-3 card-div"
                    [style.background-color]="isFileManagementHovered 
                        ? headerBarConfig.activeColor 
                        : headerBarConfig.backgroundColor"
                    (mouseenter)="isFileManagementHovered = true"
                    (mouseleave)="isFileManagementHovered = false"
                    (click)="navigateToCardUrl('file-management')"
                    [matTooltip]="'Manage files uploaded.'"
                >                                   
                    
                    <div class="row gap-1">
                        <i class="bi bi-card-image text-center" 
                            [style.font-size]="headerBarConfig.fontSize + 2 + 'px'"
                            [style.color]="headerBarConfig.color"></i>
                        <span class="text-center" 
                            [style.color]="headerBarConfig.color"
                            [style.font-family]="headerBarConfig.fontFamily"
                            [style.font-size]="headerBarConfig.fontSize + 'px'">
                            File Management
                        </span>
                    </div>
                </div>

                <div class="col-3 m-3 card-div"
                    [style.background-color]="isAuthenticationManagementHovered 
                        ? headerBarConfig.activeColor 
                        : headerBarConfig.backgroundColor"
                    (mouseenter)="isAuthenticationManagementHovered = true"
                    (mouseleave)="isAuthenticationManagementHovered = false"
                    [matTooltip]="'Custom the user authentification popup.'"
                >                                   
                    
                    <div class="row gap-1">
                        <i class="bi bi-shield-lock text-center" 
                            [style.font-size]="headerBarConfig.fontSize + 2 + 'px'"
                            [style.color]="headerBarConfig.color"></i>
                        <span class="text-center" 
                            [style.color]="headerBarConfig.color"
                            [style.font-family]="headerBarConfig.fontFamily"
                            [style.font-size]="headerBarConfig.fontSize + 'px'">
                            Authentication Management
                        </span>
                    </div>
                </div>

        </div>

    </div> -->
}
