<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="sidenav-content" mode="side">
    <div class="sidenav-leave-icon">
      <i class="bi bi-arrow-left-circle" (click)="onCloseSideNav()"></i>
      <strong class="fs-5 ms-3">Manage Style</strong>
    </div>

    @if (sideNavFormConfiguration) {
      <app-generic-form
        [formConfig]="sideNavFormConfiguration.formConfig"
        [controllerName]="sideNavFormConfiguration.controllerName"
        [payloadId]="sideNavFormConfiguration.payloadId"
        [navigationId]="sideNavFormConfiguration.navigationId"
        [hasDeleteButton]="sideNavFormConfiguration.hasDeleteButton"
        [formTitle]="sideNavFormConfiguration.formTitle"
        (onFormValueChange)="onSideNavFormValueChange($event)"
        (action)="onSideNavAction($event)"
      >
      </app-generic-form>
    }
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" matButton (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

  <router-outlet />

</mat-drawer-container>
