.sidenav-container {
  height: 100vh;
}

.sidenav-content {
  width: 18vw;
  min-width: 200px;
  border-radius: 0px;
}

.sidenav-header {
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-size: 24px;
}

.sidenav-close-icon {
  float: right;
  margin-right: 6px;
  cursor: pointer;
  font-size: 18px;
}

.general-setting-button {
  position: absolute;
  bottom: 66px;
  right: 16px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  background-color: #985ab5;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 10000;
}

.house-gear-icon {
  color: white;
  font-size: 16px;
}