<div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput 
            type="email" 
            placeholder="Email address" 
            [(ngModel)]="userForm.emailAddress"
            (keyup)="onEmailAdressChange()"
        />
        @if (emailAddressAlreadyExists) {
            <span class="err-email">This email address is already used</span>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
           type="password" 
           placeholder="Password" 
           [(ngModel)]="userForm.password" 
           (keyup)="onPasswordChange()"
        />
        @if (passwordTooShort) {
            <span class="err-email">Please enter min 8 characters</span>
        }
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matInput
           type="password" 
           placeholder="Repeat password" 
           [(ngModel)]="repeatPassword"
        />
    </mat-form-field>
    
    <button class="signup-button" (click)="onSignUpClick()" [disabled]="isSignUpDisabled()">Sign Up</button>
</div>
