<div class="row m-4">
    <h3>Reset Password</h3>
    <span class="input-label">New Password</span>

    <mat-form-field appearance="outline">
        <input matInput
           type="password" 
           placeholder="Password" 
           [(ngModel)]="newPassword"
           (keyup)="onPasswordChange()"
        />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matInput
           type="password" 
           placeholder="Repeat password" 
           [(ngModel)]="repeatPassword"
        />
    </mat-form-field>

    @if (passwordTooShort) {
       <span class="err-email">Please enter min 8 characters</span>
    }
    <button class="reset-button" 
            (click)="onResetPasswordClick()" 
            [disabled]="isResetPasswordDisabled()">
            Reset
    </button>
    @if (successMessage) {
       <span class="success-email">{{successMessage}}</span>
    }
    @if (expiredLinkMessage) {
       <span class="err-email">{{expiredLinkMessage}}</span>
    }
</div>