<div class="row m-4">
    <span class="fs-3 mb-3">Reset Password</span>
    <span class="fs-6 mb-2">New Password</span>

    <mat-form-field appearance="outline">
      <input matInput
         type="password" 
         placeholder="Password" 
         [(ngModel)]="newPassword"
         (keyup)="onPasswordChange()"
      />
      @if (passwordTooShort) {
         <span class="err-email">Please enter min 8 characters</span>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput
         type="password" 
         placeholder="Repeat password" 
         [(ngModel)]="repeatPassword"
      />
    </mat-form-field>

    <div>
    <button class="w-100 my-3" 
         matButton="outlined"
         (click)="onResetPasswordClick()" 
         [disabled]="isResetPasswordDisabled()">
         Reset
    </button>
    </div>
    
    @if (expiredLinkMessage) {
       <span class="err-email">{{expiredLinkMessage}}</span>
    }
</div>