<div class="m-2">
    @if (isSavingOrder) {
        <mat-spinner [diameter]="50"></mat-spinner>
    }
    @if (navigations && navigations.length > 0) {
        <div cdkDropList 
            class="example-list" 
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="navigations"
            cdkDropListOrientation="mixed">
            @for (navigation of navigations; track navigation) {
                <div 
                    class="example-box" 
                    cdkDrag 
                    appResizeObserver 
                    (resize)="onResize(navigation.id, $event)"
                    [style.width]="initialWindowWidth > 500 ? initialComponentSizeMap.get(navigation.id)?.width + 'px' : ''"
                    [style.height]="initialWindowWidth > 500 ? initialComponentSizeMap.get(navigation.id)?.height + 'px' : ''"
                >
                    <ng-template #container></ng-template>
                    <i class="bi bi-pen edit-icon" (click)="openNavigationManagementForm('component', navigation)"></i>
                    <i class="bi bi-arrows-move drag-icon" cdkDragHandle></i>
                </div>
            }
        </div>
        <button class="add-nav-button" 
                matTooltip="Add component" 
                (click)="openNavigationManagementForm('component')">
                +
        </button>
        <button matButton (click)="onSaveSizes()">
            Save Sizes
        </button>
    }
    @else {
        <button matButton 
                [matMenuTriggerFor]="menu" 
                class="add-nav-button">
                +
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openNavigationManagementForm('header')">Add navigation</button>
            <button mat-menu-item (click)="openNavigationManagementForm('component')">Add component</button>
        </mat-menu>
    }
</div>

