<div class="m-2">
    <h2 class="ms-2">Dynamic Lazy Component Loader</h2>
    @if (isSavingOrder) {
        <mat-spinner [diameter]="50"></mat-spinner>
    }
    @if (navigations && navigations.length > 0) {
        <div cdkDropList 
            class="example-list m-2" 
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="navigations">
            @for (navigation of navigations; track navigation) {
                <div class="example-box navigation-container" cdkDrag>
                    <ng-template #container></ng-template>
                    <i class="bi bi-pen edit-icon" (click)="openNavigationManagementForm('component', navigation)"></i>
                    <i class="bi bi-arrows-move drag-icon" cdkDragHandle></i>
                    <span>{{ navigation.displayLabel }}</span>
                </div>
            }
        </div>
        <button class="add-nav-button" 
                matTooltip="Add component" 
                (click)="openNavigationManagementForm('component')">
                +
        </button>
    }
    @else {
        <button matButton 
                [matMenuTriggerFor]="menu" 
                class="add-nav-button">
                +
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openNavigationManagementForm('header')">Add navigation</button>
            <button mat-menu-item (click)="openNavigationManagementForm('component')">Add component</button>
        </mat-menu>
    }
</div>

