<div class="user-mngt-container row">

    <mat-form-field class="col-sm-6" appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    @for (user of filteredUsers; track user.id) {
        <div class="row gap-3 mt-5 align-items-baseline">
            <span class="col-md-3 d-flex fw-bold">
                <i class="bi bi-typescript me-2"></i>
                {{ user.emailAddress }}
            </span>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Roles</mat-label>
                <mat-select [(ngModel)]="userNgModel[user.id].roleIds" multiple>
                    @for (role of roles; track role.id) {
                        <mat-option [value]="role.id">
                            {{ role.displayLabel }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            
            @if (_canEdit) {
                <mat-slide-toggle class="col ms-auto me-4"
                    [(ngModel)]="userNgModel[user.id].isEnabled">
                </mat-slide-toggle>

                <button class="col" 
                    matButton="outlined" 
                    matTooltip="Save"
                    (click)="onSaveUserClick(user.id)"
                >
                    <i class="bi bi-check-lg"></i>
                </button>
            }

            @if (_canDelete) {
                <button class="col text-danger" 
                    matButton="outlined" 
                    matTooltip="Delete user" 
                    (click)="deleteUser(user.id)"
                >
                    <i class="bi bi-trash"></i>
                </button>
            }
        </div>
    }
</div>
