table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.add-button{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.edit-cell {
  text-align: right !important;
}

.file-link {
  color: #0980e8;
  cursor: pointer;
}