.active {
    font-family: 'montserrat-bold';
    text-underline-offset: 3px;
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
}

.add-nav-button{
    height: fit-content;
    border: 1px solid blue;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 8px 2px 8px;
}