.navigation-container {
    position: relative;
    border: solid 1px #ccc;
    border-radius: 4px;
    resize: both;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: -webkit-fill-available;
    padding: 20px;
}

.edit-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #dee2e6;
    padding: 2px 6px;
    color: #636363;
    display: none;
    cursor: pointer;
    z-index: 999;
}

.navigation-container:hover .edit-icon {
    display: block;
}