<div #navigationDiv
    class="navigation-container"
    [style.width]="initialWindowWidth > 500 ? _width + 'px' : '-webkit-fill-available'"
    [style.height]="initialWindowWidth > 500 ? _height + 'px' : ''"
    [style.resize]="_canEdit ? 'both' : ''">
    
    @if (_canEdit) {
        @if (_isEditing) {
            <i class="bi bi-x-circle edit-icon"  (click)="switchEditMode()"></i>
        }
        @else {
            <i class="bi bi-pen edit-icon"  (click)="switchEditMode()"></i>
        }
        <i class="bi bi-gear gear-icon" (click)="openFormToEditNavigation()"></i>

        
        @if (
            _width - previousWidth > 1 
            || previousWidth - _width > 1 
            || _height - previousheight > 1 
            || previousheight - _height > 1) {
            <div class="size-icons-div" >
                <i class="bi bi-check-circle save-size-icon" (click)="onSaveSizeClick()" matTooltip="Save size"></i>
                <i class="bi bi-x-circle close-size-icon" (click)="onResetSizeClick()" matTooltip="Reset size"></i>
            </div>
        }
    }

    <ng-template #container></ng-template>
</div>
