<div class="m-4">
    <h5>{{title}}</h5>

    <form [formGroup]="roleForm">

        <div class="mt-4">
            <mat-form-field appearance="outline" class="w-75 me-2">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="displayLabel"/>
            </mat-form-field>

            <mat-checkbox class="mb-2" formControlName="isDisabled">Disable</mat-checkbox>
        </div>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <div formArrayName="roleNavigationPermissions" class="form-array">
            <div class="nav-info">Associate navigations and permissions to this role.</div>
            
            @for (roleNavPermGroup of roleNavigationPermissions.controls; let i = $index; track roleNavPermGroup) {   
                <div [formGroupName]="i">
                    <mat-form-field appearance="outline" class="me-2">
                        <mat-label >Navigation</mat-label>
                        <mat-select formControlName="navigationId">
                            @for (navigation of navigations; track navigation.id) {
                                <mat-option [value]="navigation.id" 
                                    [disabled]="(navigation.id | isNavigationIdInFormArray : roleNavigationPermissions)"
                                >
                                    {{ navigation.displayLabel }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="me-2">
                        <mat-label>Permission</mat-label>
                        <mat-select formControlName="permissionId">
                            @for (permission of permissions; track permission.id) {
                                <mat-option [value]="permission.id">{{ permission.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    @if (roleNavigationPermissions.length > 1) {
                        <i class="bi bi-trash-fill trash-icon" (click)="onRemoveNavigationPermissionClick(i)"></i>
                    }
                </div>
            }

            <button matButton="outlined" 
                type="button"
                [disabled]="roleNavigationPermissions.invalid"
                (click)="addNavigationPermission()"
            >   
                + Add
            </button>
        </div>

    </form>

    <div class="mt-3">
         <button matButton="outlined" 
            class="right-align"
            [disabled]="!roleForm.valid || isSaving"
            (click)="submitForm()"
        >   
            Save
        </button>
    </div>
</div>