<div class="row">
    <div class="row">
    <mat-form-field appearance="outline" class="col">
        <mat-label>Name</mat-label>
        <input matInput
            type="text"
            placeholder="Name"
            [(ngModel)]="userForm.name"
        />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col">
        <mat-label>Last name</mat-label>
        <input matInput
            type="text"
            placeholder="Last name"
            [(ngModel)]="userForm.lastName"
        />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col">
        <mat-label>Email address</mat-label>
        <input matInput 
            type="email" 
            placeholder="Email address" 
            [(ngModel)]="userForm.emailAddress"
        />
    </mat-form-field>
    </div>

    <div class="row">
    <mat-form-field appearance="outline" class="col">
        <mat-label>Password</mat-label>
        <input matInput
           type="password" 
           placeholder="Password" 
           [(ngModel)]="userForm.password" 
           (keyup)="onPasswordChange()"
        />
        @if (passwordTooShort) {
            <span class="err-email">Please enter min 8 characters.</span>
        }
    </mat-form-field>
    <mat-form-field appearance="outline" class="col">
        <input matInput
           type="password" 
           placeholder="Repeat password" 
           [(ngModel)]="repeatPassword"
        />
    </mat-form-field>
    </div>

    @if (authPacks && authPacks.length > 0) {
        <div class="row">
            <span class="mb-3">Select the pack you want to subscribe to.</span>
            <div class="pack-viewport">
                <div class="pack-list">
                    @for (pack of authPacks; track pack.id) {
                        <div class="pack-card" [class.selected]="selectedPack?.id === pack.id" (click)="onPackSelection(pack.id)">
                            <h5 class="fw-bold mb-2 pack-name">{{ pack.name }}</h5>
                            <span class="pack-description">{{ pack.description }}</span>

                            <strong class="pack-price">
                                @if (pack.isFree) {
                                    Free
                                } @else {
                                    {{ pack.price }} {{ pack.currency }}
                                }
                            </strong>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    
    <div class="text-center">
        <button class="w-75 mt-4" 
            matButton="outlined"
            (click)="onSignUpClick()" 
            [disabled]="isSignUpDisabled()"
        >   
            Sign Up
        </button>
    </div>
</div>
