.forgot-pwd{
    color: #8B8B8B;
    font-size: 12px;
    margin-left: auto;
    cursor: pointer;
    width: fit-content;
}

.err-email {
    color: red;
    font-size: 12px;
}

.recover-header {
    margin-top: 20px;
    font-size: 16px;
}

.recover-description {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    color: #8B8B8B;
    line-height: 16px;
}

.back-icon {
    cursor: pointer;
    font-size: 18px;
    width: fit-content;
}