@if (navigationToLoad) {
    <div class="row justify-content-center"
        [style.backgroundColor]="navigationToLoad.containerStyle.backgroundColor"
        [style.border]="navigationToLoad.containerStyle.borderWidth + 'px ' +
            navigationToLoad.containerStyle.borderStyle + ' ' +
            navigationToLoad.containerStyle.borderColor"
        [style.border-top-style]="navigationToLoad.containerStyle.isBorderTopHidden ?
            'none' : navigationToLoad.containerStyle.borderStyle"
        [style.border-right-style]="navigationToLoad.containerStyle.isBorderRightHidden ?
            'none' : navigationToLoad.containerStyle.borderStyle"
        [style.border-bottom-style]="navigationToLoad.containerStyle.isBorderBottomHidden ?
            'none' : navigationToLoad.containerStyle.borderStyle"
        [style.border-left-style]="navigationToLoad.containerStyle.isBorderLeftHidden ?
            'none' : navigationToLoad.containerStyle.borderStyle"
        [style.border-top-left-radius.px]="navigationToLoad.containerStyle.borderTopLeftRadius"
        [style.border-top-right-radius.px]="navigationToLoad.containerStyle.borderTopRightRadius"
        [style.border-bottom-right-radius.px]="navigationToLoad.containerStyle.borderBottomRightRadius"
        [style.border-bottom-left-radius.px]="navigationToLoad.containerStyle.borderBottomLeftRadius"
        [style.margin-top.px]="navigationToLoad.containerLayout.marginTop"
        [style.margin-right.px]="navigationToLoad.containerLayout.marginRight"
        [style.margin-bottom.px]="navigationToLoad.containerLayout.marginBottom"
        [style.margin-left.px]="navigationToLoad.containerLayout.marginLeft"
        [style.padding-top.px]="navigationToLoad.containerLayout.paddingTop"
        [style.padding-right.px]="navigationToLoad.containerLayout.paddingRight"
        [style.padding-bottom.px]="navigationToLoad.containerLayout.paddingBottom"
        [style.padding-left.px]="navigationToLoad.containerLayout.paddingLeft"
        [style.color]="navigationToLoad.typographyStyle.color"
        [style.font-family]="navigationToLoad.typographyStyle.fontFamily"
    >
    
        <div class="top-buttons-div">
            @if (navigationToLoad.permissionName?.includes('edit')) {
                <button class="edit-button"matButton="outlined" (click)="switchEditMode()">
                    @if (_isEditing) {
                        <i class="bi bi-x-circle" [matTooltip]="'Stop editing'"></i>
                    }
                    @else {
                        <i class="bi bi-pen" [matTooltip]="'Edit content'"></i>
                    }
                </button>
                <button class="gear-button" matButton="outlined" (click)="editNavigationStyle(navigationToLoad)">
                    <i class="bi bi-marker-tip" [matTooltip]="'Edit navigation style'"></i>
                </button>
                <button class="gear-button" matButton="outlined" (click)="manageNavigation(navigationToLoad)">
                    <i class="bi bi-gear" [matTooltip]="'Edit navigation'"></i>
                </button>
                <button class="gear-button" matButton="outlined" mat-dialog-close>
                    <i class="bi bi-x-circle"></i>
                </button>
            }
        </div>

        <div class="m-2">
            <ng-template #container></ng-template>
        </div>
    </div>
}

@else if (data.navigation.permissionName?.includes('add')) {
    <div class="m-4 row justify-content-center">
        <span class="text-center mb-4">
            There is not yet component attached to this dialog button.
        </span>
        <button matButton="outlined" class="w-50" (click)="manageNavigation()">
            Add component
        </button>
    </div>
}
