.top-buttons-div {
    display: flex;
    justify-content: right;
}
.edit-button {
    margin-bottom: 20px;
    width: fit-content;
}

.gear-button {
    margin-left: 10px;
    margin-bottom: 20px;
    width: fit-content;
}