/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';
@import 'tippy.js/dist/tippy.css';


html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$blue-palette,
    density: 0
  ));
}

.fc table {
  cursor: pointer;
}
