.form-array {
    border: 1px solid #636363;
    border-radius: 4px;
    padding: 18px;
}

.nav-info {
    color: #636363;
    margin-bottom: 18px;
}

.trash-icon {
    cursor: pointer;
}

.right-align {
    float: right;
}