<div class="m-2">
    
    @if (navigations && navigations.length > 0) {
        <div cdkDropList 
            class="example-list" 
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="navigations"
            cdkDropListOrientation="mixed">
            @for (navigation of navigations; track navigation.id) {
                <div class="example-box" cdkDrag>
                    <i class="bi bi-arrows-move drag-icon" cdkDragHandle></i>
                    <app-navigation
                        [_navigation]="navigation"
                        [_canEdit]="true"
                        [_canAdd]="true"
                    >
                    </app-navigation>
                </div>
            }
        </div>
    }
    
    <button 
        matButton 
        [matMenuTriggerFor]="menu" 
        class="add-nav-button">
        +
    </button>
    <mat-menu #menu="matMenu">
        @if (!navigations) {
            <button mat-menu-item (click)="openFormToAddHeaderOrComponent('header')">Add header</button>
        }
        <button mat-menu-item (click)="openFormToAddHeaderOrComponent('component')">Add component</button>
    </mat-menu>
    
</div>

