<!-- List of navigations -->
<div #componentsContainer [class]="windowWidth > windowWidthLimit ? '' : 'small-screen-flex'" class="components-container">       
    @for (child of navigation.children; track child.id) {

        @if (windowWidth > windowWidthLimit) {
            <!-- Draggable element -->
            <div class="example-box"
                cdkDrag 
                [cdkDragDisabled]="!navigation.permissionName?.includes('edit')"
                (cdkDragEnded)="onDragEnded($event, child)"
                [cdkDragFreeDragPosition]="{
                    x: child.containerLayout.xPos ? (child.containerLayout.xPos * windowWidth / 100) : 0,
                    y: child.containerLayout.yPos ? (child.containerLayout.yPos * windowHeight / 100) : 0,
                }"
                [style.z-index]="child.containerLayout.zIndex"
            >
                <!-- Top left drag icon -->
                @if (navigation.permissionName?.includes('edit')) {
                    <i class="bi bi-arrows-move drag-icon" cdkDragHandle></i>
                }
                
                <!-- Navigation object -->
                <app-navigation
                    [_navigation]="child"
                    [_canAdd]="child.permissionName?.includes('add')"
                    [_canEdit]="child.permissionName?.includes('edit')"
                    [_canDelete]="child.permissionName?.includes('delete')"
                >
                </app-navigation>
            </div>
        }
        @else {
            <!-- Navigation object not draggable -->
            <app-navigation
                [_navigation]="child"
                [_canAdd]="child.permissionName?.includes('add')"
                [_canEdit]="child.permissionName?.includes('edit')"
                [_canDelete]="child.permissionName?.includes('delete')"
            >
            </app-navigation>
        }

    }
</div>



<!-- Management buttons toolbar (visible if user has at least 'add' permission on navigation) -->
@if (navigation.permissionName?.includes('add')) {
    <div cdkDrag class="toolbar">
        <!-- Grab toolbar icon -->
        <div cdkDragHandle class="toolbar-grab">
            <i class="bi bi-grip-vertical"></i>
        </div>

        <!-- App global setting button -->
        @if (_componentsContainerService.userGlobalNavigationPermission?.includes('edit')) {
            <button 
                class="global-button"
                [matMenuTriggerFor]="menu" 
            >
            <i class="bi bi-house-gear house-gear-icon"></i>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="manageAppDefaultStyle()">
                    Manage application style
                </button>

                <button mat-menu-item (click)="addNavigationType()">
                    New component type
                </button>
            </mat-menu>
        }

        <!-- Add navigation button -->
        @if (navigation.level < 12) {
            <button
                matButton 
                [matMenuTriggerFor]="menu" 
                class="global-button">
                <i class="bi bi-plus"></i>
            </button>
            
            <mat-menu #menu="matMenu">
                @if (navigation.children?.length === 0) {
                    <button
                        mat-menu-item
                        (click)="openFormToAddNavigationBarOrNavigation('horizontal')"
                    >
                        Add horizontal navigation bar
                    </button>
                    <button
                        mat-menu-item
                        (click)="openFormToAddNavigationBarOrNavigation('vertical')"
                    >
                        Add vertical navigation bar
                    </button>
                }
                <button
                    mat-menu-item
                    (click)="openFormToAddNavigationBarOrNavigation('navigation')"
                >
                    Add component
                </button>
            </mat-menu>
        }
    </div>
}
