<!-- List of navigations -->
<div [class]="windowWidth > windowWidthLimit ? '' : 'small-screen-flex'" style="position: relative;">       
    @for (child of navigation.children; track child.id) {

        @if (windowWidth > windowWidthLimit) {
            <!-- Draggable element -->
            <div class="example-box"
                cdkDrag 
                [cdkDragDisabled]="!navigation.permissionName?.includes('edit')"
                (cdkDragEnded)="onDragEnded($event, child)"
                [cdkDragFreeDragPosition]="{
                    x: child.containerLayout.xPos ? (child.containerLayout.xPos * windowWidth / 100) : 0,
                    y: child.containerLayout.yPos ? (child.containerLayout.yPos * windowHeight / 100) : 0,
                }"
                [style.z-index]="child.containerLayout.zIndex"
            >
                <!-- Top left drag icon -->
                @if (navigation.permissionName?.includes('edit')) {
                    <i class="bi bi-arrows-move drag-icon" cdkDragHandle></i>
                }
                
                <!-- Navigation object -->
                <app-navigation
                    [_navigation]="child"
                    [_canAdd]="child.permissionName?.includes('add')"
                    [_canEdit]="child.permissionName?.includes('edit')"
                    [_canDelete]="child.permissionName?.includes('delete')"
                >
                </app-navigation>
            </div>
        }
        @else {
            <!-- Navigation object -->
            <app-navigation
                [_navigation]="child"
                [_canAdd]="child.permissionName?.includes('add')"
                [_canEdit]="child.permissionName?.includes('edit')"
                [_canDelete]="child.permissionName?.includes('delete')"
            >
            </app-navigation>
        }

    }
</div>

<!-- Add navigation button -->
@if (navigation.level! < 12 && navigation.permissionName?.includes('add')) {
    <button 
        cdkDrag
        matButton 
        [matMenuTriggerFor]="menu" 
        class="add-nav-button">
        +
    </button>
    
    <mat-menu #menu="matMenu">
        @if (navigation.children?.length === 0) {
            <button
                mat-menu-item
                (click)="openFormToAddNavigationBarOrNavigation('navigation-bar')"
            >
                Add navigation bar
            </button>
        }
        <button
            mat-menu-item
            (click)="openFormToAddNavigationBarOrNavigation('navigation')"
        >
            Add component
        </button>
    </mat-menu>
}
